<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviewer Admin</title>
    <!-- Mobile Specific Metas
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../static/styles/Skeleton/css/normalize.css">
    <link rel="stylesheet" href="../static/styles/Skeleton/css/skeleton.css">
    <link rel="stylesheet" href="../static/styles/wtf-forms/wtf-forms.css">
    <link rel="stylesheet" href="../static/styles/unified.css">
    <link rel="stylesheet" href="../static/styles/review.css">
</head>

<body style="background-color: #1F2638">

<!-- Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav>
    <img id="hr-logo" src="../static/logo.png">
    <!-- Navbar elements -->
    <div class="nav-container">
        <ul class="nav">
            <li>
                <span id="active-user">First Last</span>
            </li>
            <li><i id="nav-bars" class="fa fa-bars fa-2x"></i></li>
        </ul>
    </div>

</nav>

<!-- Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- Sidebar collapsed by default -->
<div id="sidebar" class="sidebar-collapse">

    <div class="row">
        <h4 class="u-pull-left">
            <i class="fa fa-fw fa-user-circle"></i>
            First Last
        </h4>

        <div class="u-pull-right">
            <div class="u-pull-left">
                <i id="sidebar-close" class="fa fa-close fa-lg"></i></li>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <h6>
            <i class="fa fa-fw fa-tasks"></i>&nbsp;Progress at a glance
        </h6>
        <hr class="small">
        <ul>
            <li>Your next deadline is <a>01/31/2017</a>.</li>
            <li><a><b>12</b></a> applications left to review.</li>
        </ul>
    </div>

    <button style="position:fixed; bottom:25px;"><i class="fa fa-fw fa-sign-out"></i>&nbsp;Logout</button>
</div>

<!-- Primary body contents
________________________________________   -->

<div class="container">
    <div class="twelve columns">
        <div class="row">
            <div class="seven columns">
                <h5 style="text-decoration: underline">Users</h5>
                <table>
                    <thead>
                    <tr>
                        <th>Reviewer Name</th>
                        <th>Applications Due</th>
                        <th>Most Recent Due Date</th>
                        <th>Overdue Apps</th>
                    </tr>
                    </thead>

                    <tbody id="users">
                    {% for user in users %}
                        <tr id="{{ user.id }}">
                            <td id="name">{{ user.name }}</td>
                            <td id="quota">{{ user.app_quota }}</td>
                            <td id="due_date">{{ user.due_date }}</td>
                            <td id="overdue">{{ user.apps_overdue }} </td>
                            <td id="email" style="display: none">{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="five columns">
                <h5 style="text-decoration: underline">Options for: <span id="selected_name"></span></h5>
                <button onclick="sendEmail()" class="u-full-width" id="reminder_email">Email</button>
                <form>
                    <div class="row">
                        <label for="redisQuota">Redistribute Apps</label>
                        <input type="number" id="redisQuota">
                        <input class="button-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCMNrbRYKe2-hTq9WG77Qh5tQYhCvnHiXU",
    authDomain: "hackrice-webapp.firebaseapp.com",
    databaseURL: "https://hackrice-webapp.firebaseio.com",
    storageBucket: "hackrice-webapp.appspot.com",
    messagingSenderId: "439199974172"
  };
  firebase.initializeApp(config);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
    $(function () {
        // Sidebar
        $('#nav-bars').click(function () {
            $('#sidebar').toggleClass('sidebar-collapse');
        });

        $('#sidebar-close').click(function () {
            $('#sidebar').toggleClass('sidebar-collapse');
        });
    });
</script>

</html>